@media (max-width: 46.9em ){
	nav .right li a{
		
		display: none;
		
	}
	#dropdown.active {
	display: none;
	}
	.mobile li button svg{
		display: block !important;
		
	}
    .mobile li button{
		display: block;
	}
.mobile li  ul .active li{
   display: block;
}
	
} 