@media screen and (max-width: 750px ){
	nav .right li a{
		
		display: none;
		
	}
	
	.mobile li button svg{
		display: block !important;
		
	}
    .mobile li button{
		display: block;
	}
.mobile li  ul .active li{
   display: block;
}
	
} 
