body{
   	background: #ccc;
	overflow-x: hidden;

}
/* pseudo class for things like the website highlighting */
::selection{
    color: white; 
    background: blue;
}
/*end pseudo class*/
/* defualt nav look */
nav{
  	background: rgba(50,50,50,1);
    -o-transition:.800ms;
    -ms-transition: 800ms;
    -moz-transition: 800ms;
    -webkit-transition:800ms;
    transition: 800ms;

  	left: -10px;
  	padding-right: 80px;
  	height: 90px;
  	width: 100%;
  	top: -10px;
  	line-height: 40px;
   
  	position: fixed;
	
}
.left li a svg{
 
    margin-top: 25px;
    display: block; 
    height: 28px;
    max-width: 128px;
}

.left li a svg path{
    fill: white;
	height: 28px;
	max-width: 128px;
	 -o-transition:.800ms;
   -ms-transition: 800ms;
   -moz-transition: 800ms;
   -webkit-transition:800ms;
   transition: 800ms;
}

a:hover{
   color: #ff6b57;
}

.left li {
   float: left;
}
.right{
    margin-right: 55px;
  }
.right li a{
    text-decoration: none;
    float: right;  
    margin-right: 25px;
    margin-top: 15px;
    height: 23px
}

ul li{
 	list-style: none;
   text-decoration: none
}

ul li a{
   color: rgba(254,254,242,1);
	font-size: 15px;
	font-family: sans-serif;
	text-transform: uppercase;
	-o-transition:800ms;
	-ms-transition: 800ms;
	-moz-transition:800ms;
	-webkit-transition:.800ms;
	transition:800ms;
}

.left li a:hover svg path{
	fill: #ff6b57;
}
/* end defualt nav look */

/* how nav looks when window is scrolled down */
 .fixed {
	
	height: 60px;
   	padding-bottom:	0px !important;
    background: rgba(50,50,50,0.8);
   	box-shadow: 3px 5px 15px rgba(0,0,0,0.45);
}
.fixed  .right li a{
	text-decoration: none;
	float: right;  
	color: rgba(254,254,242,0.8);
	margin-right: 25px;
	margin-top: 0px;
}

.fixed .left li a svg{

	margin: -25px 0;	
	height: auto;
    fill: rgba(254,254,242,0.8    );
	max-width: 100px;
}
.fixed .left li a svg path{
fill: rgba(254,254,242,0.8);
}
.fixed li a svg path:hover{
    fill: #ff6b57;
}
.mobile{
	

	
}
.mobile li button{
    -o-transition:.800ms;
    -ms-transition: 800ms;
    -moz-transition: 800ms;
    -webkit-transition:800ms;
    transition: 800ms;
    height: 64px;
    width: 64px;
    float: right;
    border-radius: 10px;
    border-style: none;
    background: none;
    
	display: none;
}

.mobile li button span{
    -o-transition:.800ms;
    -ms-transition: 800ms;
    -moz-transition: 800ms;
    -webkit-transition:800ms;
    transition: 800ms;
    float: inherit;
    display: inline-block;
    margin: 0.5em;
    background: white;
    height: 8px;
    width: 32px;
    
    border-radius: 10px;
}/*
.mobile li button:hover span{
    background:  #ff6b57;
}*/
.mobile li a svg {
	float: right;
    
	height: auto;
	display: none;
	max-width: 32px;
}

.mobile li svg path{
fill: white;
  -o-transition:.800ms;
  -ms-transition: 800ms;
  -moz-transition: 800ms;
  -webkit-transition:800ms;
  transition: 800ms;
}

.mobile li button svg path:hover{
fill: #ff6b57;
}

.mobile li ul{
    display: inline-block;
    margin-top: 10px;
    margin-right: -5px;
    width: 100%;
    float: right;
    background: rgba(50,50,50,1);
    -o-transition:.800ms;
    -ms-transition: 800ms;
    -moz-transition: 800ms;
    -webkit-transition:800ms;
    transition: 800ms;

}
.mobile li  ul li{
   display: none;
}
.mobile li  ul li a{
    color: rgba(254,254,242,1);;
    text-decoration: none;
    
  /*  border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: medium;*/
}

.fixed .mobile li button svg{
    
max-width: 21px !impotant;
margin-top: -17px;
}
.fixed .mobile li button{
	 background:none;
	height: 42px;
	width: 42px;
}
.fixed .mobile li button span{
	height: 4px;
    width: 20px;
	 margin: 0.05em;
	 background: rgba(254,254,242,0.8);
}

.fixed .mobile li ul{
 margin: 1px 20px;
 background: rgba(50,50,50,0.95
 );
 color: rgba(254,254,242,0.8);
}

/*end nav */


.green{
	height: 500px;
	width: 100%;
	display: block;
	background: #fefef2;
  
}
.red{
	height: 500px;
	width: 100%;
	display: block;
	background: #ff6b57;
  
}

